
.bg-gradient {
    background: var(--Text-Style, linear-gradient(90deg, #885CF6 1.73%, rgba(126, 243, 229, 0.97) 101.49%));
}

.text-gradient {
    background: linear-gradient(90deg, #8B5CF6 53.09%, rgba(55, 255, 219, 0.70) 81.88%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: normal;
}

@media (max-width: 600px) and (min-width: 250px) {
    img {
        width: 100% !important;
        height: auto !important; /* Maintain the image's aspect ratio */
    }
}
