@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    @font-face {
        font-family: 'Hiragino';
        src: url('/frontend/font/Hiragino-Kaku-Gothic-Std.otf');
        font-display: swap;
    }

    .font-hiragino {
        font-family: 'Hiragino';
    }

    @font-face {
        font-family: 'Gordita';
        src: url('/frontend/font/Gordita-Regular.otf'),
             url('/frontend/font/Gordita-Medium.otf') format('500'),
             url('/frontend/font/Gordita-Light.otf') format('300'),
             url('/frontend/font/Gordita-Bold.otf') format('700'),
             url('/frontend/font/Gordita-Black.otf') format('900'),
    }

    @font-face {
        font-family: 'Recoleta';
        src: url('/frontend/font/Recoleta-Regular.ttf'),
             url('/frontend/font/Recoleta-Medium.ttf') format('500'),
             url('/frontend/font/Recoleta-SemiBold.ttf') format('600'),
             url('/frontend/font/Recoleta-Bold.ttf') format('700'),
             url('/frontend/font/Recoleta-Thin.ttf') format('300')
    }


    body {
        font-family: 'Gordita', sans-serif;
    }

    .bg-user-dashboard {
        background: #f7f9fe;
    }


    .homepage-bg {
        background: var(--Black, #0A1127);
    }
}


@layer utilities {
    .bg-user {
        background: #f7f9ff;
    }

    .custom-shadow {
        box-shadow: 0 0 20px #ddd;
    }
    .font-sans {
        font-family: 'Open Sans', sans-serif;
    }

    .font-recoleta {
        font-family: 'Recoleta', sans-serif;
    }

    .border-12 {
        border-width: 16px;
    }

    .min-w-48 {
        min-width: 128px;
    }

    .py-custom {
        padding-top: 6px;
        padding-bottom: 6px;
    }

    .min-sidebar {
        width: 308px;
    }

    .custom-height {
        height: calc(100vh - 65px) !important;
    }

    .min-chat-screen {
        height: calc(100vh - 310px);
    }

    .custom-editor-size {
        height: calc(100vh - 180px) !important;
        overflow-y: scroll;
        scroll-behavior: smooth;
    }

    .min-document-custom-height {
        height: calc(100vh - 125px) !important;
    }

    .filter-invert {
        filter: invert(100%);
    }

    .ql-editor {
        height: calc(100vh - 180px) !important;
    }

    .input-focus-none {
        box-shadow: none;
        outline: 0;
    }

    .dragover {
        border-color: #6466f1 !important;
    }

    .w-30p {
        width: 30%;
    }

    .w-10p {
        width: 10%;
    }

    .border-color {
        border-color: #FF733B;
    }

    .bg-color {
        background: #FF733B;
    }

    .color {
        color: #FF733B;
    }

    .introduce-bg {
        background: rgba(255, 235, 229, 0.6);
    }

    .text-75px {
        font-size: 75px;
    }

    .text-9A9595 {
        color: #9A9595;
    }

    .custom-hero-shape {
        background: #FF8D60;
        filter: blur(300px);
        border-radius: 461px;
        width: 461px;
        height: 424px;
        -webkit-backdrop-filter: blur(300px);
        backdrop-filter: blur(300px);
    }

    .sm-custom-hero-shape {
        background: #FF8D60;
        filter: blur(300px);
        width: 400px;
        height: 424px;
        -webkit-backdrop-filter: blur(300px);
        backdrop-filter: blur(300px);
    }

    .xs-custom-hero-shape {
        background: #FF8D60;
        filter: blur(300px);
        width: 200px;
        height: 424px;
        -webkit-backdrop-filter: blur(300px);
        backdrop-filter: blur(300px);
    }

    .hero-instruction-bg {
        background: #FFDACF;
    }

    .-right-30 {
        right: -120px;
    }

    .mt-500 {
        margin-top: 1005px;
    }

    .mt-400 {
        margin-top: 850px;
    }

    .text-42px {
        font-size: 42px;
    }

    .text-19px {
        font-size: 19px;
    }

    .w-45p {
        width: 48%;
    }

    .h-36rm {
        height: 39rem;
    }

    .features-bg {
        background-color: #FFF8F5;
    }

    .leading-60 {
        line-height: 60px;
    }

    .text-65 {
        font-size: 65px;
    }

    .bg-pricing {
        background: #FEFBF3;
        filter: blur(160px);
        width: 100%;
        height: 719px;
    }

    .pricing-shadow {
        box-shadow: 0px 0px 30px -15px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
    }

    .text-65 {
        font-size: 65px;
    }

    .fill-color {
        fill: #FF8250;
    }

    .review-bg {
        background: #F6F9FB;
        filter: blur(125px);
        height: 631px;
        width: 100%;
    }

    .review-shape-bg {
        background: #E78429;
    }

    .query-bg {
        background: #FFE1D4;
    }

    .footer-border {
        border-color: #FFE1D4;
    }

    .w-23p33{
        width: 23.33%;
    }

    .footer-text-color {
        color: #4F4A4A;
    }

    .footer-bg {
        background: #FEFBF3;
        filter: blur(50px);
        height: 462px;
        width: 100%;
    }

    .bg-userdashboard {
        background: #fff;
    }



    .icon-color {
        color: #565B67;
    }

    .group.active {
        background: #FFF8F5;
    }

    .w-main-area {
        width: 80%;
    }

    .sidebar {
        width: 18.5%;
    }

    .w-70p {
        width: 70%;
    }

    .y-middle {
        transform: translateY(-50%);
    }

    .x-middle {
        transform: translateX(-50%);
    }

    .xy-middle {
        transform: translate(-50%, -50%);
    }

    .top-30p {
        top: 45%;
    }

    .bg-color-al {
        background: #ff9e79;
    }

    .mt-2px {
        margin-top: 2px;
    }

    .group.show svg {
        fill: #FF733B;
    }

    .group.show span {
        color: #FF733B;
    }
    .group.show {
        border-color: #FF733B;
    }

    .button-active {
        color: #FF733B;
        border-color: #FF733B;
        background: #FFF8F5;
    }

    .table-bg {
        background: #f9fafb;
    }

    @keyframes spin-slow {
        0% {
          transform: rotate(0);
        }
        100% {
          transform: rotate(360deg);
        }
      }

      .animate-spin-slow {
        animation: spin-slow 2s linear infinite;
      }

    .notion-logo {
        width: 22px;
    }

    .bg-facebook {
        background-color: #3b5998;
    }

    .bg-twitter {
        background-color: #00acee;
    }

    .bg-whatsapp {
        background-color: #128C7E;
    }

    .bg-skype {
        background-color: #00aff0;
    }

    .bg-instagram {
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    }

    .bg-code {
        background-color: #292d3e;
    }

    .custom-vector-bg::after {
        content: '';
        background-repeat: repeat;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: .1;
        background-image: url('/frontend/img/shapes.svg');
    }

    .custom-bg-chat-button {
        background: hsl(17.14deg 100% 50.31%);
    }

    .custom-h-chat-header {
        height: 156px;
    }

    .h-150 {
        height: 150px;
    }

    .clearfix::after {
        content: "";
        display: table;
        clear: both;
      }

    .text-15 {
        font-size: 15px;
    }

    .box-shadow-none {
        box-shadow: none;
    }

    @keyframes typing-dot {
        0%,
        100% {
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
      }

      .typing-dots {
        display: inline-block;
      }

      .dot {
        height: 6px;
        width: 6px;
        margin: 3px 2px;
        margin-top: -10px;
        background-color: #fff;
        border-radius: 50%;
        display: inline-block;
        animation: typing-dot 1s infinite;
      }

      /* Adjust the styling as per your requirements */

      .favorite-border-color {
        border-color: #ff733b38;
      }

      .w-45p {
        width: 45%;
      }

    .bg-chat-sidebar {
        background: #fcfcfc;
    }


    .paypal-button-container {
        min-width: 500px;
        max-width: 750px;
        margin: auto !important;
    }

    .left-190 {
        left: 186px;
    }

    .payment-select div {
        width: 100%;
    }


    .payment-select form {
        width: 100%;
    }

    .h-600 {
        height: 600px;
    }

    .w-450 {
        width: 450px;
    }

    .w-55px {
        width: 58%;
    }

    .w-55p {
        width: 55%;
    }

    .h-600 {
        height: 400px;
    }

   /* Hide the default arrow */
    .custom-select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        /* Add padding to accommodate the custom arrow */
        padding-right: 2.5rem;
    }

    /* Style the custom arrow */
    .custom-arrow {
        position: absolute;
        top: 50%;
        right: 0.75rem;
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #FF733B; /* Use your desired color here */
        pointer-events: none;
    }

    .margin-auto {
        margin: auto !important;
    }

    .margin-t-5 {
        margin-top: 50px !important;
    }

    .margin-t-0 {
        margin-top: 0 !important;
    }

    .w-450 {
        width: 450px;
    }

    .h-450 {
        height: 450px;
    }

    .height-600 {
        height: 600px;
    }

    .ml-18pnt5p {
        margin-left: 18.5%;
    }

    .ml-20p {
        margin-left: 20%;
    }

    .-left-500 {
        left: -650px;
    }

    .left-150p {
        left: -150%;
    }

    .mt-initial {
        margin-top: initial;
    }

    .mb-initial {
        margin-top: initial;
    }

    .z-100 {
        z-index: 100;
    }

    .message-height {
        height: calc(100vh - 89px);
    }

    .hide-scrollbar {
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* Internet Explorer 11 */
      }

      .hide-scrollbar::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
      }

    .bg-template {
        background-color: #f4f1fe;
    }

    textarea, select, input:focus {
        outline: 0 !important;
        box-shadow: none !important;
        border-color: #f1f5f9 !important;
    }

    .custom-sidebar-editor {
        height: calc(100vh - 90px);
    }

    .border-red {
        border-color: rgb(239 68 68 / var(--tw-border-opacity)) !important;
    }

    .border-custom-red {
        border-color: #ef4444 !important;
    }

    .xw-main-area {
        width: 81.5%;
    }

    @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }

      .animated-opacity {
        animation: fadeIn 1s forwards; /* Keep the final state after animation */
      }

    /* Add this CSS to your stylesheet */
    .additional-section {
        opacity: 1;
        max-height: 1000px; /* Adjust the value as needed */
        transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
        overflow: hidden;
        display: block; /* Add this line */
    }

    .hide {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
        display: none; /* Add this line */
    }

    .custom-chat-height {
        height: calc(100vh - 210px);
    }

    .py-custom {
        padding: 19px 20px;
    }

    .h-custom-card {
        height: 58px;
    }

    .h-84 {
        height: 84px;
    }

    .px-18 {
        padding-left: 18.5px;
        padding-right: 18.5px;
    }

    .bg-gradient {
        background: var(--Text-Style, linear-gradient(90deg, #885CF6 1.73%, rgba(126, 243, 229, 0.97) 101.49%));
    }

    .right-1px {
        right: 1px;
    }

    .home-right-1px {
        right: 1px;
        padding: 0 12px;
    }

    .left-1px {
        left: 1px;
    }

    .home-left-1px {
        left: 1px;
        padding: 0 12px;
    }

    .text-22px {
        font-size: 22px;
    }

    .max-h-custom {
        max-height: 1000px;
    }

    .max-h-custom:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0px;
        z-index: 1;
        background: linear-gradient(to bottom, rgba(10, 17, 39, 0) 50%, #0a1127 100%);
        pointer-events: none;
    }

    .custom-title-badge:before {
        content: "";
        position: absolute;
        width: 3px;
        height: 25px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        background: linear-gradient(0deg, #8B5CF6 53.09%, rgba(55, 255, 219, 0.70) 81.88%);
        left: 0px;
        border-radius: 100px;
    }

    .custom-category-badge:before {
        content: "";
        position: absolute;
        width: 3px;
        height: 15px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        background:  #8B5CF6;
        left: 0px;
        border-radius: 100px;
    }

    .blog-leading-custom {
        line-height: 1.2 !important;
    }

    .max-h-custom .show-more-button {
        position: absolute;
        margin-top: 0;
    }

    .show-more-button {
        bottom: 0;
        left: 0;
        right: 0;
        padding-bottom: 4px;
        z-index: 1;
        background: linear-gradient(to bottom, rgba(10, 17, 39, 0) 50%, #0a1127 100%);
        margin-top: 20px;
        text-align: center;
    }

    .mt-158 {
        margin-top: 158px;
    }

    .leading-70 {
        line-height: 70px !important;
    }

    .text-gradient {
        background: linear-gradient(90deg, #8B5CF6 53.09%, rgba(55, 255, 219, 0.70) 81.88%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-style: normal;
    }

    .-top-120p {
        top: -150%;
    }

    .border-gradient {
        background: linear-gradient(90deg, #8B5CF6 53.09%, rgba(55, 255, 219, 0.70) 81.88%);
        border-radius: 10px; /* Adjust the radius value as needed */
        padding: 1px; /* Add padding to create space for the border */
    }


    .secondary-bg {
        background: var(--black-alt, #1A2338);
    }

    .text-E3E3E3 {
        color: #E3E3E3;
    }

    .leading-28 {
        line-height: 28px;
    }

    .w-52 {
        width: 52px;
    }

    .h-52 {
        height: 52px;
    }

    .h-68 {
        height: 68px;
    }

    .pb-150 {
        padding-bottom: 150px;
    }

    .w-90 {
        width: 90px;
    }

    .h-90 {
        height: 90px;
    }

    .py-50 {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .px-38 {
        padding-left: 38px;
        padding-right: 38px;
    }

    .mb-custom-14 {
        padding-bottom: 14px;
    }

    .w-270 {
        width: 280px;
    }

    .h-275 {
        height: 275px;
    }

    .px-26 {
        padding-left: 26px;
        padding-right: 26px;
    }

    .py-38 {
        padding-top: 38px;
        padding-bottom: 38px;
    }

    .rounded-20 {
        border-radius: 20px;
    }
    .w-28p {
        width: 28%;
    }

    .text-E0DDDD {
        color: #E0DDDD;
    }

    .border-color-2D3956 {
        border-color: #2D3956;
    }

    .text-EDEBEB {
        color: #EDEBEB;
    }

    .w-401 {
        width: 401px;
    }

    .text-8F9CBB {
        color: #8F9CBB;
    }

    .text-E2E5EC {
        color: #E2E5EC;
    }

    .pt-150 {
        padding-top: 150px;
    }

    .text-27 {
        font-size: 27px;
    }

    .mt-90 {
        margin-top: 90px;
    }

    .w-50px {
        width: 50px;
    }

    .h-50px {
        height: 50px;
    }

    .h-1px {
        height: 1px;
    }

    .scroll-container {
        display: flex; /* Ensure children are in a row */
        overflow-x: auto; /* Enable horizontal scrolling */
        width: 100%; /* Expand to fill its parent container */
        max-width: 100%; /* Prevent horizontal overflow */

    }

    .scroll-custom-container {
        display: flex; /* Ensure children are in a row */
        overflow-x: auto; /* Enable horizontal scrolling */
        width: 100%; /* Expand to fill its parent container */
        max-width: 100%; /* Prevent horizontal overflow */

    }

    .item {
        flex: 0 0 auto;
        width: 270px; /* Adjust this width as needed */
        margin-right: 20px; /* Adjust spacing between items as needed */
    }

    .infinite-scroll {
        animation: scroll 20s linear infinite;
      }

      @keyframes scroll {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(-100%);
        }
    }

    .custom-h-template {
        height: calc(100vh - 280px);
    }

    .h-177 {
        min-height: 255px;
        max-height: 100%;
    }

    .flex-container {
        display: flex;
        flex-direction: column;
      }

      .bottom-content {
        margin-top: auto; /* Push content to the bottom */
      }

    .text-special-gradient {
        background: var(--Text-Style, linear-gradient(90deg, #885CF6 1.73%, rgba(126, 243, 229, 0.97) 101.49%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .border-color-400 {
        border-color: rgb(148 163 184 / 0.9) !important;
    }

    .hero-md-font {
        font-size: 47px;
        line-height: 1.3;
    }

    .w-22p {
        width: 22%;
    }

    .w-78p {
        width: 78%;
    }

    .ml-22p {
        margin-left: 22%;
    }

    .fill-gradient {
        fill: var(--Text-Style, linear-gradient(90deg, #885CF6 1.73%, rgba(126, 243, 229, 0.97) 101.49%));
    }

    html {
        scroll-behavior: smooth;
    }

    .lang-select-custom-w {
        min-width: 185px;
        max-width: 100%;
    }

        /* Custom styles for the select arrow */
        select::-ms-expand {
            display: none;
        }

        /* Styling the select arrow for non-IE browsers */
        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }

        /* Styling the select arrow with a white background */
        select:after {
            content: '\25BC';
            /* Unicode character for the down arrow */
            color: #fff;
            /* Set the color to white */
            position: absolute;
            top: 50%;
            right: 12px;
            /* Adjust the right position as needed */
            transform: translateY(-50%);
        }

}
