@keyframes loadingDots {
    0%, 100% {
      opacity: 0.5;
    }
    50% {
      opacity: 1;
    }
  }

  .dots-preloader span {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 3px;
    background-color: #222;
    border-radius: 50%;
    animation: loadingDots 1.5s infinite;
  }

  .dots-preloader span:nth-child(2) {
    animation-delay: 0.3s;
  }

  .dots-preloader span:nth-child(3) {
    animation-delay: 0.6s;
  }
